* {
  margin    : 0px;
  padding   : 0px;
  box-sizing: border-box;
}

.master{
  font-size: 16px;
  padding: 25px 10px auto 10px;
}

h1 {
  margin: 25px 10px;
}

h2 {
  margin: 25px 10px;
}

h3 {
  margin: 25px 10px;
}

p {
  margin: 25px 0;
}

button {
  margin-left: 25px;
}

.pDescription {
background-color: #d3d3d3;
padding-left: 10px;
font-size: 19px;
}

.masterAjuste {
  padding-top: 25px;
}