* {
  margin    : 0px;
  padding   : 0px;
  box-sizing: border-box;
}


.dark {
  background-color: #333333;
  color: #fafafa;
}

#darkP {
  padding-left: 10px;
}

.masterDark {
  padding-top: 25px;
}